.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  position: relative;
  
  width: 100%;
  height: 100%;

  padding: 80px 40px;

  margin-top: 100px;

  background-color: #d6e5fc;

  @include min($desktop) {
    width: 70%;
    height: 60%;

    margin-top: 0;

    background-image: url("modalImage.png");
    background-position: 20px 100%;
    background-size: auto 400px;
    background-repeat: no-repeat;
  }

  @include min($bigscreen) {
    width: 50%;
    height: 50%;
  }

}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;

  margin: auto;

  @include min($tablet) {
    width: 400px;
  }
}

.modal-close-button {
  position: absolute;
  top: 40px;
  right: 10px;

  font-size: 20px;

  cursor: pointer;

  background-color: white;

  @include min($tablet) {
    top: 10px;
  }

  &:active {
    transform: scale(0.8);
  }
}

.modal-form-button {
  height: 37px;

  padding: 0 16px;
  margin: 0 auto;

  font-size: 14px;
  font-weight: 300;
  line-height: 37px;
  color: rgba(255,255,255,.97);
  cursor: pointer;

  background: $borderBlue;
  border-color: $borderBlue;
  border-radius: 4px;

  &:active {
    background-color: $green;
    transform: scale(1.2);
  }
}

.modal-form-header {
  margin-bottom: 20px;

  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.modal-form-subheader {
  margin-bottom: 50px;

  font-size: 16px;
  text-align: center;
}

.modal-form input, .modal-form label {
  width: 80%;
  margin: 2px auto;
}

.modal-form input {
  height: 34px;
  padding: 0px 12px;
  margin-bottom: 20px;

  font-size: 18px;

  background-color: inherit;
  border-bottom: 1px solid rgba(0,0,0,.15);

  outline: none;
}

.modal-form label {
  font-weight: 400;
  color: $subtitleGray;
}

.modal-errors {
  position: absolute;
  margin-top: 20%;
  margin-left: 40%;
  color: lightcoral;
  font-size: 16px;
}

.modal-preview {
  position: absolute;
  width: 150px;
  height: auto;
  max-height: 120px;

  margin-top: 20%;
  margin-right: 60%;
  align-self: flex-end;
}

#avatar {
  border-bottom: none;
}

.guest-login {
  color: $blue;
  font-size: 16px;
  cursor: pointer;

  &:active {
    color: $green;
    transform: scale(1.2);
  }
}

.switch-text {
  color: $blue;
  font-size: 16px;
  cursor: pointer;

  &:active {
    color: $green;
    transform: scale(1.2);
  }
}

.modal-form-button-switch {
  margin: 20px auto;

  span {
    margin-left: 5px;
  }
} 
