.search-icon {
  width: 20px;
  height: 20px;

  margin-right: 20px;

  opacity: 0.3;

  &:active {
    transform: scale(1.2);
  }
} 

.search-container {
  margin: 5%;
}

.search-input {
  display: block;
  width: 100%;
  padding: 15px 20px;

  font-size: 30px;

  background-color: #f2f2f2;
  outline: none;
  border: 1px solid rgba(0,0,0,.9);

  box-sizing: border-box;

  @include min($desktop) {
    width: 70%;
    margin: 0 auto;
  }
}

.search-results {
  margin-top: 60px;

  @include min($desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.search-results-partition {
  @include min($desktop) {
    width: 46%;
  }
}

.search-results-title {
  margin-bottom: 20px;

  width: 90%;

  font-size: 20px;
  text-align: center;

  border-bottom: 1px solid $borderBlue;

  @include min($desktop) {
    text-align: center;
    margin: 0 auto 20px auto;
  }
}

.search-item {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

.search-item-title {
  font-size: 22px;
  font-weight: bold;
}

.search-item-subtitle {
  font-size: 18px;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.54);
}

.search-item-right {
  width: 50px;
  height: 50px;

  border-radius: 100%;
} 
