@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Permanent+Marker');
@import "mixins";
@import "reset";
@import "vars";
@import "components/*";

body {
  font-family: $main;
  padding: 10px 20px;
  margin: 0 auto;

  background-color: #c1d8ff;

  @include min($tablet) {
    width: 85%;
  }
  
  @include min($desktop) {
    width: 80%;
  }

  @include min($bigscreen) {
    width: 55%;
  }
}

.mainpage {
  margin-bottom: 150px;
}

